%p
  %label{:for => "scrape_run_response_code"} Response code:
  = f.text_field :response_code
%p
  %label{:for => "scrape_run_last_modified"} Last modified:
  = f.text_field :last_modified
%p
  %label{:for => "scrape_run_etag"} Etag:
  = f.text_field :etag
%p
  %label{:for => "scrape_run_content_type"} Content type:
  = f.text_field :content_type
%p
  %label{:for => "scrape_run_content_length"} Content length:
  = f.text_field :content_length
%p
  %label{:for => "scrape_run_response_header"} Response header:
  = f.text_area :response_header
%p
  %label{:for => "scrape_run_uri"} Uri:
  = f.text_area :uri
%p
  %label{:for => "scrape_run_file_path"} File path:
  = f.text_area :file_path
%p
  %label{:for => "scrape_run_git_path"} Git path:
  = f.text_area :git_path
