%h1 Listing scrape_runs

%table
  %tr
    %th Response code
    %th Last modified
    %th Etag
    %th Content type
    %th Content length
    %th Response header
    %th Uri
    %th File path
    %th Git path
  - @scrape_runs.each do |scrape_run|
    %tr
      %td= h scrape_run.response_code
      %td= h scrape_run.last_modified
      %td= h scrape_run.etag
      %td= h scrape_run.content_type
      %td= h scrape_run.content_length
      %td= h scrape_run.response_header
      %td= h scrape_run.uri
      %td= h scrape_run.file_path
      %td= h scrape_run.git_path
        
      %td= link_to 'Show', object_url(scrape_run)
      %td= link_to 'Edit', edit_object_url(scrape_run)
      %td= link_to 'Destroy', object_url(scrape_run), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New scrape_run', new_object_url