%h1 Editing scrape_job

= error_messages_for :scrape_job

- form_for(:scrape_job, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Update"
  
= link_to 'Show', object_url
|
= link_to 'Back', collection_url